#app {
  width: 100%;
  text-align: center;
  margin-bottom: 7rem;
}

.quote{
  font-size: 2rem;
  margin-bottom: 4rem;
}

.author{
  font-size: 1.5rem;
  border-radius: 10px;
}
.buttons-container{
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
button{
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border: 2px solid rgb(6, 74, 175);
  background-color: rgb(6, 74, 175);
  padding: .5rem 1rem;
  

}

button:hover{
  background-color: transparent;
 
}

