@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: no-repeat center / cover ;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Mono', monospace;

}
body::before{
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#root{
  padding: 2rem 1rem;
  width: 100%;
  max-width: 60rem;

}
